---
path: feed/index.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>Metafizzy</title>
  <link href="https://metafizzy.co/feed/index.xml" rel="self" />
  <link href="https://metafizzy.co/blog" />
  <updated>{{ rssUpdated }}</updated>
  <id>https://metafizzy.co/blog</id>
  <author>
    <name>David DeSandro / Metafizzy</name>
  </author>

  {{#each posts}}
    <entry>
      <title>{{ title }}</title>
      <link href="https://metafizzy.co/blog/{{ slug }}" />
      <published>{{ xmlTimestamp }}</published>
      <author>
        <name>{{#if authorName}}{{ authorName }}{{else}}David DeSandro{{/if}}</name>
        <uri>https://metafizzy.co/blog</uri>
      </author>
      <id>https://metafizzy.co/blog/{{ slug }}</id>
      <content type="html">{{{ ../contents }}}</content>
    </entry>
  {{/each}}

</feed>
